

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  color: black;
  font-family: orbitron, sans-serif;
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/1876.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.controls-wrapper {
  display: flex;

  width: 700px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 20px 0px;
  justify-content: space-around;
  background: rgb(45,114,198);
  background: radial-gradient(circle, rgba(45,114,198,1) 0%, rgba(7,93,232,0.6741071428571428) 52%);

}
#start {
  color: white;
  background-color: #075de8;
  padding: 5px;
  font-family: orbitron, sans-serif;
  border: solid 1px;
  letter-spacing: normal;
  border-radius: 10px;
  border-color: transparent;
  letter-spacing: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

p.points {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  color: white;
  letter-spacing: 2px;
}
p.lives {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  color:white;
  letter-spacing: 2px;
}

span#points-display {
  margin-left: 10px;
  color: white  ;
}
span#lives-display {
  margin-left: 10px;
  color: white;
}

.grid-wrapper {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-image: url('');
  background-repeat: no-repeat;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 700px;
  border-radius: 10px;
  background: rgb(45,114,198);
  background: radial-gradient(circle, rgba(45,114,198,1) 0%, rgba(7,93,232,0.500437675070028) 52%);

}
.grid div {  
  flex-grow: 1;
  height: 10%;
  width: 10%;
  font-size: 60%;
  align-content: center;
}

.grid div.lipstick {
background-image: url('https://media.giphy.com/media/VUVx448gh1GshHxbHV/source.gif');
background-repeat: no-repeat;
background-size: contain;
}


.grid div.drags {
  background-image: url('https://media.giphy.com/media/co5VLnDuBaURxfDrfW/source.gif');
  background-size: contain;
  background-repeat: no-repeat;
  
}
.grid div.drags2 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}
.grid div.drags3 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}
.grid div.drags4 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}

.grid div.bullet {
  background-image: url('https://media.giphy.com/media/QUQqxLfy3vonXfH8vv/source.gif');
  background-size: 50px;
  background-repeat: no-repeat;

}


