

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}


.grid-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {  
  flex-grow: 1;
  height: 10%;
  width: 10%;
  font-size: 60%;
}

.grid div.lipstick {
background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/ru-paul.png');
background-repeat: no-repeat;
background-size: contain;
}

.grid div.drags {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}
.grid div.drags2 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}
.grid div.drags3 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}
.grid div.drags4 {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/kisspng-tatianna-rupaul-s-drag-race-season-4-drag-queen-telegram-amp-q-5b6e02766adb80.8057967615339362464377.png');
  background-size: contain;
  
}

.grid div.bullet {
  background-image: url('/Users/olecastronascimento/development/sei-project_1/assets/ClipartKey_161049.png');
  background-size: contain;
  background-repeat: no-repeat;

}


